# Class-1.2 :: Data Types In Python 

**2 June 2024**

_______________________________________________________________________________________________________________

## Data Types
- **1. Fundamental Data Types**
- **2. Advanced Data Types**

___________________________________________________________________________________________________________

## **1.Fundamental Data Types :**
- These object can store only  1 Value.
- All Fundamental data types objects are **immutable** (Once we Assign a object with value, we can't modify the value in the object)
|S.No.     |Type      |Short_Name    |Example (value)|Note|
|-----|-------|------|---|---|
|1.   |Integer|  int | 42|Values without decimal|
|2.|float|float|15.06|Values with decimal|
|3.|complex|complex|5+3j|++||
|4.|boolean|bool|True,False|--|
|5.|String|str|"Hello World"|Non-Numeric|





## **2.Advance Data Types :**

- It Can Store Multiple Values in a Single Object.

     - **List**
     - **Tuple**
     - **Set**
     - **Dictionary**

______________________________________________________________________________________________

**type() :**  
-  To Check Data type of given variable

_______________________________________________________________________________________________

### **1)  Int :**
- Numerical value with no decimal
- Can be either negative or positive or zero

In [32]:
a = -10
print(a)

-10

In [34]:
type(a)

int

_____________________________________________________________________________________________

### **2) Float :**
 - Stores Decimal Values 
 - It Stores only Numeric Values

In [38]:
b= 2.5
print(b)

2.5

In [40]:
type(b)

float

_______________________________________________________________________________________________

### **3) Complex:**
- Stores Complex Numbers  - Left side is Real Part ,  Right Side is Imaginary Part

In [44]:
z= 4+5j
print(z)

(4+5j)

In [46]:
type(z)

complex

_______________________________________________________________________________________________

### **4) Boolean-:**
- It Stores **True or False** Value Only

- Make Sure **first Letter is Capital**   e.g True , False 

- Other than Numbers ( int , float, complex  & boolean )

In [64]:
f = True
type(f)

bool

_______________________________________________________________________________________________

### **5) String:**
- Stores Character Values
- String is written in between  " "   Or   '  '

In [75]:
c = "Hello This is String , @@@, $##@ , 2 "

print(c)

d = " 2 "

print (d) 

type(d)

Hello This is String , @@@, $##@ , 2
 2

str

**Multi-Line Strings :**

In [6]:
a= '''Hello
      world!!!  '''

# OR

b = """ Hello 
Python !!!! """

print(a)
print(b)

Hello
      world!!!
 Hello
Python !!!!

**Length of String :**  
- For Length of String **len()** Fuction can used

In [11]:
String= "Hello World"
len(String)   #Space is also Calculated

11

**f String:**

In [34]:
name="Silvester"
age = 24

print(f"My Name is : {name} and Age is : {age}")

My Name is : Silvester and Age is : 24

**String Concatenation :**
- Joining of two or more strings into a single one is called concatenation.
- The **+ operator** does this in Python. Simply writing two string literals together also concatenates them.
- **Note :** to use + operator for strings, compulsory both should be string type only

In [41]:
'Hello'+'World'

'HelloWorld'

In [45]:
'Hello'+' '+ 'World !!'

'Hello World !!'

In [47]:
'Hello' + '2'

'Hello2'

In [51]:
'Hello' + str(2)

'Hello2'

## **Type Casting :**

In [54]:
int(-4)

-4

In [66]:
int(4.99)

4

In [56]:
float(-4)

-4.0

In [58]:
bool(0.0000)

False

In [60]:
bool(0.000001)

True

In [68]:
bool(4.9999)

True

In [62]:
str(4)

'4'

In [64]:
str(2.000)

'2.0'

In [70]:
int(True)

1

In [72]:
int(False)

0

In [76]:
float(True)

1.0

In [80]:
float(False)

0.0

In [84]:
str(True)

'True'

In [86]:
str(False)

'False'

In [102]:
int('Hello') # Can't Convert Non-Numeric Value to Numeric Value

ValueError: invalid literal for int() with base 10: 'Hello'

In [104]:
int("123")

123

In [106]:
float("1234")

1234.0

In [108]:
bool('Hello')

True

In [111]:
float(int(float('123.45')))

123.0

______________________________________________________________________________________________

## **2.Advanced Data Types -:**
     
   - List
   - Tuple
   - Set
   - Dictionary

___________________________________________________________________________________________________________________

## **1) List :**

  **Definition :**
- A list is a data structure in Python.
- It is **mutable (changeable) and ordered.**
- Elements are enclosed within square brackets [ ].

**Elements :**
- Each element in a list is called an item.
- Items can be of any data type (integers, strings, other lists, etc.).

**Syntax :**
- Lists are defined by having values between square brackets.
- Example: my_list = [1, 2, 3, 'a', 'b', 'c'].

**Mutability :**
- Lists can be changed after their creation.
- Items can be added, removed, or modified.

**Order :**
- Lists maintain the order of elements as they are added.
- Items can be accessed by their index, with the first item at index 0.

**Usage :**
- Useful for working with many related values.
- Helps in keeping related data together.

**Operations and Methods :**

You can perform various operations on lists such as:

- **Adding elements -  (append(), extend())**
- **Removing elements -  (remove(), pop())**
- **Sorting -  (sort())**
- **Reversing -  (reverse())**
- **Indexing and slicing.**

**Code Condensation:**

- Lists help in condensing your code.
- Enable performing the same methods and operations on multiple values at once.

**Examples:**

- Creating a list: my_list = [10, 20, 30]
  
- Adding an item: my_list.append(40)

- Accessing an item: my_list[1] # Accesses the second item (20)

- Removing an item: my_list.remove(20)

**Nested Lists:**

- Lists can contain other lists, enabling the creation of complex data structures.
Example: nested_list = [[1, 2], [3, 4]]

  By utilizing these points, you can effectively work with lists in Python to manage and manipulate collections of related data.

__________________________________________________________________________________________________________________

**Creating a List :**

In [56]:
My_List = [1,2,3,4,"Hello Python","@"]

print(My_List)
    
type(My_List)

[1, 2, 3, 4, 'Hello Python', '@']

list

______________________________________________________________________________________________

## **2) Tuple :**

**Definition :**
- A tuple is a data structure in Python.
- It is **immutable (unchangeable) and ordered**.
- Elements are enclosed within **parentheses ( )**.

**Elements :**
- Each element in a tuple is called an item.
- Items can be of any data type (integers, strings, other tuples, etc.).

**Syntax :**
- Tuples are defined by having values between parentheses.
- Example: my_tuple = (1, 2, 3, 'a', 'b', 'c').

**Immutability :**
- Tuples cannot be changed after their creation.
- Items cannot be added, removed, or modified.

**Order :**
- Tuples maintain the order of elements as they are added.
- Items can be accessed by their index, with the first item at index 0.

**Usage :**
- Useful for working with related values that should not change.
- Helps in keeping related data together and ensures data integrity.

**Operations and Methods :**
- You can perform various operations on tuples such as:
- **Accessing elements - (my_tuple[1])**
- **Concatenation - (my_tuple + another_tuple)**
- **Repetition - (my_tuple * 3)**
- **Indexing and slicing.**
- **Counting occurrences - (my_tuple.count(value))**
- **Finding index of an item - (my_tuple.index(value))**

**Code Condensation :**
- Tuples help in condensing your code.
- They ensure that the data remains constant throughout the program.

**Examples:**

- **Creating a tuple: my_tuple = (10, 20, 30)**

- **Accessing an item: my_tuple[1] # Accesses the second item (20)**

- **Concatenating tuples: my_tuple + (40, 50)**

- **Repeating a tuple: my_tuple * 2**

**Nested Tuples :**
- Tuples can contain other tuples, enabling the creation of complex data structures.
- Example: nested_tuple = ((1, 2), (3, 4))

  By utilizing these points, you can effectively work with tuples in Python to manage and manipulate collections of related data that should remain constant.
__________________________________________________________________________________________________________________

**Creating a tuple :**

In [99]:
My_Tuple = (10, 20, 30)
print(My_Tuple)

(10, 20, 30)

In [101]:
d = 4.5, 10,"Python"

# in python by default multiple values stored as Tuple

print(d)

type(d)

(4.5, 10, 'Python')

tuple

In [104]:
# Immutable Property of Tuple :

tuple_1 = (1,2,3,4,5)

print(tuple_1)

tuple_1[0] = 10

print(tuple_1)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

__________________________________________________________________________________________________________________

## 3.Set :
**Definition :**
- A set is a data structure in Python.
- It is mutable (changeable) and unordered.
- Elements are enclosed within curly braces { }.

**Elements :**
- Each element in a set is called an item.
- Items must be of an immutable data type (integers, strings, tuples, etc.).
- Sets **doesn't allow duplicate items**.

**Syntax :**
- Sets are defined by having values between curly braces.

**Example:**
my_set = {1, 2, 3, 'a', 'b', 'c'}.


**Mutability :**
- Sets can be changed after their creation.
- Items can be added, removed, but sets themselves are unordered and do not allow indexing.

**Order :**
- Sets do not maintain the order of elements.
- Items cannot be accessed by their index.

**Usage :**
- Useful for working with unique values.
- Helps in performing mathematical set operations like union, intersection, and difference.

**Operations and Methods :**
You can perform various operations on sets such as:
- Adding elements - (add())
- Removing elements - (remove(), discard(), pop())
- Union - (union())
- Intersection - (intersection())
- Difference - (difference())
- Checking membership - (in)


**Code Condensation:**
- Sets help in condensing your code when dealing with unique items.
- Enable performing set operations easily and efficiently.

**Examples:**
- Creating a set: my_set = {10, 20, 30}
- Adding an item: my_set.add(40)
- Removing an item: my_set.remove(20)


__________________________________________________________________________________________________________________

**Creating a Set :**

In [11]:
My_Set={10,20,30}

print(My_Set)

type(My_Set)

{10, 20, 30}

set

**Duplicate values will be ignored:**

In [26]:
this_set = {"apple", "banana", "cherry", "apple"}

print(this_set)

{'apple', 'banana', 'cherry'}

__________________________________________________________________________________________________________________

## 4) Dictionary :

Definition :
- A dictionary is a data structure in Python.
- It is **mutable (changeable) and unordered.**
- Elements are key-value pairs enclosed within **curly braces { }.**

**Elements :**
- Each element in a dictionary is called a key-value pair.
- Keys must be of an **immutable data type** (integers, strings, tuples, etc.).
- Values can be of any data type (integers, strings, lists, other dictionaries, etc.).

**Syntax :**
- Dictionaries are defined by having key-value pairs between curly braces.

**Example:**
  my_dict = {'a': 1, 'b': 2, 'c': 3}.

**Mutability :**
- Dictionaries can be changed after their creation.
- Key-value pairs can be added, removed, or modified.

**Order :**
- In Python 3.7 and later, dictionaries maintain the order of elements as they are added.
- Items can be accessed by their key.

**Usage :**
- Useful for working with related data that is in pairs.
- Helps in quickly retrieving values using keys.

**Operations and Methods :**
You can perform various operations on dictionaries such as:
- Adding elements - (my_dict[key] = value)
- Removing elements - (del my_dict[key], pop())
- Accessing elements - (my_dict[key])
- Getting all keys - (keys())
- Getting all values - (values())
- Getting all key-value pairs - (items())
- Checking membership - (in)

**Code Condensation:**
- Dictionaries help in condensing your code when dealing with paired data.
- Enable efficient key-value mapping and retrieval.

**Examples:**
- Creating a dictionary: my_dict = {'a': 1, 'b': 2, 'c': 3}
  
- Adding an item: my_dict['d'] = 4
  
- Accessing an item: print(my_dict['b']) # Output: 2
  
- Removing an item: del my_dict['a']
___________________________________________________________________________________________________________________

**Creating a Dictionary :**

In [22]:
My_Dict={'a':1,'b':20,'c':30}

print(My_Dict)

type(My_Dict)

{'a': 1, 'b': 20, 'c': 30}

dict