# Class - 1.1 ::  Variables
**Day & Date : 1 June 2024**

______________________________________________________________________________________________________________

## Comments
- Comments can be used to explain Python Code

- Comments can be used  make the code more readable

- Comments are ignored during execution ( not Consideing while executing the code)

- Single line comments  starts with #, and python will ignore them

- Multi- Line Comments starts with  """ and ends with """

**Single-Line Comment**

In [23]:
# First Example of Single Line Comment   #(First line starting with # will ignore)

print ("Hello World !")

Hello World !

**Multi-Line Comment**

In [28]:
'''
1st line
2nd line
3rd line

'''   # Either  three Single quote OR two Double Quote

print ("Hello World !")

Hello World !

___________________________________________________________________________________________________________________

## Variables 

- Stores a value

- Generally Values will be of

    **Numeric**
             
             - Without Decimal  ( Ex. 1, 2 , 900, 24000)  
             - With Decimal ( Ex. 10.20  , 1.5 , 1.02 )
             
            
    **Non-Numeric (Text)** 
            
            - Only Text 
            - Combination of Text with Numeric
            - Combination of Text with Special Characters
            
            
### Rules in Naming Variables 

- A variable name must start with a letter (a-z,A-Z) or the underscore character (_)

- A variable accepts only underscore _ symbol only. 

- A variable name cannot be start with number

- A variable name can contain combination of alpha-numeric characters and underscores

- Variable names are Case-Sensitive  (age, Age, AGE are three different Varaibles )

- It Can't accept reserve / Keywords

**Reserved words in Python** - 33 Words

|1 |2 |3 |4 |5 |6 |7|8|9|
|----- |-----|----- |-----|----- |-----|-----|---|---|
|False |None |True |and |as |assert |break|class|continue|
|def |del |elif |else |except |finally |for|form|global|
|if |import|in |is|lambda |nonlocal|not|or|pass|
|raise |return|try |while|with |yield|

_________________________________________________________________________________________________________________

**Examples :**

In [60]:
a = 10
print(a)

10

In [62]:
A = 2.0
print(A)

2.0

In [68]:
s="Hello World"
print(s)

Hello World

**Incorrect Ways :**

In [93]:
1a = 50         # Variable Name cannot be start with Numeric Value
print(1a)

SyntaxError: invalid decimal literal (3382305307.py, line 1)

In [96]:
@a = 10       # Variable Name should be start with Alpha-Numeric , or Only Underscore (_)
print(@a)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2268769766.py, line 1)

In [99]:
if = 70         # Reserved Words cannot be used as Variable.
print(if)

SyntaxError: invalid syntax (1904836395.py, line 1)

**Correct Ways to Declare Variables**

In [101]:
a       = 20

b       = -400

c       =  20.5 

num1    = 30

num_1   = 10

_num    =  5

name    = "Hello , @ , !  , 44 "    #  <---------  Non-Numeric Data    -----> 16.2.2.4

Complex_num = 1+3j

**Ways to Declare Variables :**

In [103]:
myvar = "John"

my_var = 10

_my_var = 2.5

myVar = 1+3j

MYVAR = "@@@@"

myvar2 = "44"

____________________________________________________________________________________________________________________

**Variable Assignment :** - Storing a value in variable
- **1 Value to 1 Variable  :**   e.g.  x=10

- **Multiple Values to 1 Variable :** e.g.  x = 10,20,30

- **1 Value to Multiple Variables :** e.g. x=y=z=10

- **Multiple Values to Multiple Variables**

_____________________________________________________________________________________________________

**1.One Value to One Variable :**

In [111]:
x = 10 
print(x)

10

**2. Multiple Values to one Variable**

In [114]:
a = 10,20,30

print(a)

type(a)

(10, 20, 30)

tuple

____________________________________________________________________________________________________________________

**3.One Value to Multiple Variables**

- We can Assign the same value to multiple variables in one line

In [121]:
a= 10 
b = 10
c = 10

#OR

a = b = c = 10 

print(a,b,c)

10 10 10

___________________________________________________________________________________________________________________

- **id()- To Check the Address of  the value or a variable**

In [152]:
a = "Hello"

id(a)

2249116038960

In [154]:
a=b=c= 15
print(a,b,c)  # Same Id assigned to all Variables

15 15 15

In [144]:
id(a)

140707829368040

In [146]:
id(b)

140707829368040

In [150]:
id(c)

140707829368040

_____________________________________________________________________________________________________________________

**4.Multiple Values to Multiple Variables**  -
 
   - Python allows you to assign values to multiple variables in one line
 
   **Note :** Make Sure the Number of variables matches the number of values, or else you will get an error.

In [157]:
a = 10    
b = 20
c = 30    
d= 100
# OR   We can Write like Below 

a,b,c,d = 10, 20,30,100
print(a,b,c,d)

10 20 30 100

In [159]:
id(a)

140707829367880

In [163]:
id(b)

140707829368200

In [165]:
id(c)

140707829368520

In [167]:
id(d)

140707829370760

**Note :in Python Latest Value Stored in Variable**

In [170]:
# e.g. 
first_value = 10
print(first_value)

'''' Now We are going to save  20 as a  value. 
It will Automatically Store 20 in varibale and previous  one i.e. 10 is cleared.'''

first_value = 20
print(first_value)#   ----->  It gives 20

10
20

## **Delete a Variable :**
- Variable can be deleted by using **del** word

**Syntax :**
- **For single variable  :** del variable_name
- **For Multiple Variable :** del variable_name_1.Variable_name_2,........variable_name_n

In [32]:
# For single variable
a,b = 10,20

print(a)
print(b)

10
20

In [44]:
a=10
b=20
del(a)    # Variable a is deleted now. 
print(b)
print(a) # Variable a cannot be Printed as we deleted already.

20

NameError: name 'a' is not defined

In [50]:
#For Multiple Variable:

a,b,c, = 25,50,100

del a,b

print(c)

100